<body class="bg-gray-100 font-dana leading-normal tracking-normal">

        <nav id="header" class="bg-white fixed w-full z-10 top-0 text-black shadow">
           <div id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>
           <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
              <div class="ml-auto flex font-dana mr-4">
                 <a class=" text-base no-underline hover:no-underline font-extrabold text-xl" href="#"> 
                 {page_title}
                 </a>
                 <span class="hidden sm:flex mr-2">{page_subtitle}</span>
              </div>
           </div>
        </nav>


        <!--Container-->
        <div class="container w-full md:max-w-3xl mx-auto pt-20"> 
           <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">

                
              <!--Title-->
              <div class="font-dana">
                 <h1 class="font-bold font-dana break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">{page_heading}</h1>
              </div>


              <!--Post Book form-->
              <div>
                 <form class="flex p-3 bg-white shadow rounded w-full items-center  p-4 text-gray-800 font-dana mb-5">
                 <input type="text" id="title" name="title" class="flex-grow focus:outline-none ml-4" placeholder="{page_heading}">
                 <button type="submit" class="hover:bg-gray-100 hover:shadow  rounded-full h-8 w-8 flex items-center justify-center" id="submit">
                 <i class="fas fa-plus"></i>
                 </button>
                 </form class="flex p-3 bg-white shadow rounded w-full items-center  p-4 text-gray-800 font-dana mb-5">
              </div>
              <!--/ Post book-->

              <div id="errors">

              </div>


              <!-- Book cards -->
              <div class="flex flex-wrap -mx-2 " id="books">
                 <LOOP NAME="books">
                 <div class="p-2 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
                    <div class="flex flex-row sm:flex-col items-center sm:items-start bg-white shadow-lg hover:shadow p-2 transition-all">
                       <h2 class="font-extrabold text-3xl text-indigo-600">{dlid}</h2>
                       <h3 class="mr-3 sm:mr-0 font-bold text-base">{dltitle}</h3>
                    </div>
                 </div>
                 </LOOP NAME="books">
              </div>
              <!-- Book cards -->


           </div>
        </div>
        <!--/container-->


        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/post-book.js"></script>
        <script src="js/custom.js"></script>
     </body>
     </html>